# Build dirs #
##############
/RegularConvertor-build-desktop-Qt_4_8_5__4_8_5__Debug/
/RegularConvertor-build-desktop-Qt_4_8_5__4_8_5__Release/
/build*
/src/x64
/src/debug
/src/GeneratedFiles

# User build settings #
#######################
/RegularConvertor/RegularConvertor.pro.user*
/RegularConvertorUnitTests/RegularConvertorUnitTests.pro.user*
flatt/
.project
/RegularConvertor/.directory
/RegularConvertor/debug
/RegularConvertor/GeneratedFiles
/RegularConvertor/x64

# Some other mess #
.gitignore.swp
.gitignore~
Zdrojove kody.tar.gz
regularConvertor.zip
src/RegularConvertor.pro.user

# Visual studio mess #
*.suo
*.VC.db
*.VC.opendb
*.vcxproj.filters
*.vcxproj.user
*.pro.user.*
*.tss
diplomaThesis/prace.aux
diplomaThesis/prace.loa
diplomaThesis/prace.lof
diplomaThesis/prace.log
diplomaThesis/prace.lot
diplomaThesis/prace.out
diplomaThesis/prace.synctex.gz
diplomaThesis/prace.toc
diplomaThesis/tex/pdfa-1b.xmpi
diplomaThesis/prace.bbl
diplomaThesis/prace.blg
diplomaThesis/tex/UTB.log
diplomaThesis/tex/text.te~
