# Build dirs #
##############
/RegularConvertor-build-desktop-Qt_4_8_5__4_8_5__Debug/
/RegularConvertor-build-desktop-Qt_4_8_5__4_8_5__Release/
/build*

# User build settings #
#######################
/RegularConvertor/RegularConvertor.pro.user*
/RegularConvertorUnitTests/RegularConvertorUnitTests.pro.user*
flatt/
.project
/RegularConvertor/.directory
/RegularConvertor/debug
/RegularConvertor/GeneratedFiles
/RegularConvertor/x64

# Some other mess #
.gitignore.swp
.gitignore~
Zdrojove kody.tar.gz
regularConvertor.zip
